# Spotify API credentials
VITE_SPOTIFY_CLIENT_ID=
VITE_SPOTIFY_REDIRECT_URI=http://localhost:5173/callback
VITE_SPOTIFY_SCOPES=playlist-read-private playlist-read-collaborative playlist-modify-private playlist-modify-public user-read-email